<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- estilos -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../static/css/globales.css">
    <link rel="stylesheet" href="../static/css/barraSuperior.css">
    <link rel="stylesheet" href="../static/css/contenidoPrincipal.css">
    <link rel="stylesheet" href="../static/css/opciones.css">
    <link rel="stylesheet" href="../static/css/casosExitos.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/planes.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chela+One&family=Lacquer&family=Mr+Dafoe&family=Protest+Revolution&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
        
        </div>
         <div>
            <a href="/"><img class="imagen_logo" src="../static/img/Logo DTF.png" alt="Logo de david torres"></a>
         </div>

        
        <div class="menu_iconos" data-aos="zoom-in">   
            <!-- <div class="space_icon">
                <a href="#"><img  class="icon" src="./imagenes/iconos/facebook.png" alt="Enlace a Facebook"></a>
            </div> -->
            <div class="space_icon">
                <a href="https://www.instagram.com/davidtorres.fit/"><img class="icon" src="../static/img/icons8-instagram-100.png" alt="Enlace a Instagram"></a>
            </div>  
            <div class="space_icon">
                <a href="https://youtube.com/@davidtorresfit2080?si=IlprydVJJMAURxbU"><img class="icon" src="../static/img/icons8-youtube-100.png" alt="Enlace a youtube"></a>
            </div>  
            <!-- <div class="space_icon">
                <a href="#"><img class="icon" src="./imagenes/iconos/gorjeo (1).png" alt="Enlace a Twitter"></a>
            </div>
            <div class="space_icon">
                <a href="#"><img class="icon" src="./imagenes/iconos/whatsapp.png" alt="Enlace a WhatsApp"></a>
            </div>         -->
        </div>
    </header>

    <section class="primerPlan">
        <div class="contenedor_imagen">
        <div class="img_primerPlan">
            <img class="img_menu" data-aos="zoom-in" src="../static/img/Gluteos.jpg" alt=""> </div>
        </div>

        <div class="texto_primerPlan">
            <h3 class="preguntaGluteos" data-aos="zoom-in">
            </h3>
            <h3 class="pregunta" data-aos="zoom-in">Rutina de glúteos </h3>
            <div class="respuestaGluteos" data-aos="zoom-in"> En este programa encontraras mis rutinas de entrenamientos más efectivas para hacer mejorar tus piernas especialmente tus GLUTEOS. Te ayudara a ver un excelente cambio para que se vean más fuerte, levantados y grandes. Mejorando tu fuerza y resistencia.  
            </div>
            
            <!-- <h3 class="pregunta" data-aos="zoom-in">Lorem ipsum dolor sit amet?</h3>
            <div class="respuesta" data-aos="zoom-in"> Morbi maximus velit sit amet risus interdum, ut iaculis nunc suscipit. Cras luctus, eros aliquam fringilla eleifend, risus  Morbi maximus velit sit amet risus interdum, ut iaculis nunc suscipit. Cras luctus, eros aliquam fringilla eleifend, risus  Morbi maximus velit sit amet risus interdum, ut iaculis nunc suscipit. Cras luctus, eros aliquam fringilla eleifend, risus</div>
            
            <h3 class="pregunta" data-aos="zoom-in">Lorem ipsum dolor sit amet?</h3>
            <div class="respuesta" data-aos="zoom-in"> Morbi maximus velit sit amet risus interdum, ut iaculis nunc suscipit. Cras luctus, eros aliquam fringilla eleifend, risus  Morbi maximus velit sit amet risus interdum, ut iaculis nunc suscipit. Cras luctus, eros aliquam fringilla eleifend, risus  Morbi maximus velit sit amet risus interdum, ut iaculis nunc suscipit. Cras luctus, eros aliquam fringilla eleifend, risus</div>
             -->
                <br>
                
                <!-- <hr>    -->
                
                <div class="botonera">
                    <form action="/gluteos/gluteosPrimerMes" method="get">
                        <button type="submit" class="btn" id="btn_eleccion" data-aos="zoom-in">Programa primer mes</button>
                    </form>
                    <form action="/gluteos/gluteosSegundoMes" method="get">
                        <button type="submit" class="btn" id="btn_eleccion" data-aos="zoom-in">Programa segundo mes</button>
                    </form>
                    <form action="/gluteos/gluteos90dias" method="get">
                        <button type="submit" class="btn" id="btn_eleccion" data-aos="zoom-in">Programa 90 dias</button>
                    </form>
                    <form action="/gluteos/gluteos1hrentrenamiento" method="get">
                        <button type="submit" class="btn" id="btn_eleccion" data-aos="zoom-in">1Hr de entrenamiento conmigo</button>
                    </form>
                </div>    
        
        </div>
        

       
    </section>

    <footer class="footer">
        <h1 class="Titulo_footer" class="bebas-neue-regular">Mente, cuerpo y espiritu</h1>
        <a class="redes_sociales_footer"  href="https://fans.link/Davidtorresfit?utm_source=preview&utm_medium=linkdetail&fbclid=PAZXh0bgNhZW0CMTEAAabUWQ8sth6lg65KzSws-56818bqPSSeG9xQjc-IRqlqd0NbE26QP8SPVa8_aem_15sB0mFYhGr1Biv_LaoAaQ"><button class="btn" id="btn_eleccion" >Visita mis redes sociales</button></a>
        <img class="imagen_footer"  src="../static/img/batido.jpg" alt="Couch de brazos cruzados">
        <div>
            <p>  
                Debe consultar a su médico u otro profesional de
                 la salud antes de comenzar este o cualquier otro
                 programa de ejercicios para determinar si es
                 adecuado para sus necesidades. Esto es
                 particularmente cierto si usted (o su familia) tiene
                 antecedentes de presión arterial alta o
                 enfermedad cardíaca, o si alguna vez ha
                 experimentado dolor en el pecho al hacer
                 ejercicio o ha experimentado dolor en el pecho
                 durante el último mes cuando no estaba haciendo
                 actividad física, fuma, tiene colesterol alto, es
                 obeso o tiene un problema en los huesos o
                 articulaciones que podría empeorar con un
                 cambio en la actividad física. No comience este
                 programa de ejercicios si su médico o proveedor
                 de atención médica se lo desaconseja. Si
                 experimenta desmayos, mareos, dolor o falta de
                 aire en cualquier momento mientras hace
                 ejercicio, debe detenerse de inmediato. 
                Este sitio ofrece información sobre salud, estado
                 físico y nutrición y está diseñado únicamente con
                 fines educativos. No debe confiar en esta
                 información como sustituto ni reemplaza el consejo
                 médico profesional, el diagnóstico o el tratamiento.
                 Si tiene alguna inquietud o pregunta sobre su salud,
                 siempre debe consultar con un médico u otro
                 profesional de la salud. No ignore, evite ni demore la
                 obtención de asesoramiento médico o relacionado
                 con la salud de su profesional de la salud debido a
                 algo que haya leído en este sitio. El uso de cualquier
                 información proporcionada en este sitio se realiza
                 únicamente bajo su propio riesgo. 
                Los avances en la investigación médica pueden
                 afectar los consejos sobre salud, estado físico y
                 nutrición que aparecen aquí. No se puede garantizar
                 que los consejos contenidos en este sitio siempre
                 incluyan los hallazgos o avances más recientes con
                 respecto al material en particular.</p>
        </div>
    </footer>
   



    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>