<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coach</title>
    <link rel="stylesheet" href="style.css">
    
    
    <!-- estilos -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../static/css/globales.css">
    <link rel="stylesheet" href="../static/css/barraSuperior.css">
    <link rel="stylesheet" href="../static/css/contenidoPrincipal.css">
    <link rel="stylesheet" href="../static/css/opciones.css">
    <link rel="stylesheet" href="../static/css/casosExitos.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/planes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chela+One&family=Lacquer&family=Mr+Dafoe&family=Protest+Revolution&display=swap" rel="stylesheet">



</head>
<body>

    <header>
        <div>
        
        </div>
         <div>
            <a href="/"><img class="imagen_logo" src="../static/img/Logo DTF.png" alt="Logo de david torres"></a>
         </div>
        <div class="menu_iconos" data-aos="zoom-in">   
            <!-- <div class="space_icon">
                <a href="#"><img  class="icon" src="./imagenes/iconos/facebook.png" alt="Enlace a Facebook"></a>
            </div> -->
            <div class="space_icon">
                <a href="https://www.instagram.com/davidtorres.fit/"><img class="icon" src="../static/img/icons8-instagram-100.png" alt="Enlace a Instagram"></a>
            </div>  
            <div class="space_icon">
                <a href="https://youtube.com/@davidtorresfit2080?si=IlprydVJJMAURxbU"><img class="icon" src="../static/img/icons8-youtube-100.png" alt="Enlace a youtube"></a>
            </div>  
            <!-- <div class="space_icon">
                <a href="#"><img class="icon" src="./imagenes/iconos/gorjeo (1).png" alt="Enlace a Twitter"></a>
            </div>
            <div class="space_icon">
                <a href="#"><img class="icon" src="./imagenes/iconos/whatsapp.png" alt="Enlace a WhatsApp"></a>
            </div>         -->
        </div>
    </header>


    <!-- preguntas frecuentes -->
    <!-- <h1 class="tituloCasosExito">Estos son algunos de los testimonios</h1> -->
    <section class="todosLosCasos">
    <div class="CasosExito">
        <h3 id="titulo" class="tituloExito" data-aos="fade-up">Testimonios de mis clientes</h2>
            <!-- <p>Ellos lograron este cambio con el programa</p> -->
        
        <div class="casos_particular" data-aos="fade-up">
            <img class="imagen_exito" src="../static/img/original-A048187C-7F0B-4F53-AEF9-69392F653EA6.jpeg" alt="imagen de antes y despues de cliente">
            <p class="parrafoExito"><b>Felipe.</b>

                “Es el mejor entrenador que pude encontrar. Inicié mi proceso porque era muy delgado y mi objetivo desde siempre fue subir masa muscular, con todos los consejos y guía de David lo logré. No es fáci porque requiere de mucha disciplina y compromiso, pero David siempre me esta guiando de su mano, y esta pendiente de cada detalle, de como voy con las comidas, de corregirme la técnica …. No solo es un gran entrenador personal que realmente se preocupa de sus clientes si no que también es un excelente ser humano !! 100/10

                
            </p>
        </div>

        <div class="casos_particular" id="colorDeFondo" data-aos="fade-up">
            <p class="parrafoExito"><b>Lili </b>

                Mi vida, Mente y fisico dieron un giro totalmente positivo Al comenzar a entrenar con David, a nivel professional guiada por un ser humano integro y dedicado totalmente a su profession El que hace ameno y facil El cambio de actitud a personas como yo que nunca habia hecho ejercicio, David nos cambia de adentro hacia afuera, a mis 62 años comenzo mi cambio y fue la mejor desicion que he tomado en mi vida, 💪gracias por tu dedication David💪
                
            </p>
            <img class="imagen_exito" src="../static/img/processed-DA07E173-174D-4641-A21D-F85EDED8DE3B.jpeg" alt="imagen de antes y despues de cliente">
            
        </div>



        <div class="casos_particular" data-aos="fade-up">
            <img class="imagen_exito" src="../static/img/processed-41748D5C-6BC8-4265-94F2-DF934AE0F8A7.jpeg" alt="imagen de antes y despues de cliente">
            <p class="parrafoExito"><b>Carolina Páez </b>
                Hay personas que llegan a tu vida con un propósito y David fue una de ellas.  Me ayudo  a crear la consciencia de lo que comía y el efecto que hacía en mi cuerpo. Ahora  mantengo un estilo de vida balanceando y logre mejorar mi apariencia física con ejercicio y alimentación  cuando en algún momento pensé que mi mejor opción era la Cirugia. Gracias david con cada cambio aumente mi seguridad y confianza . Me ayudo a evolucionar y a buscar una mejor versión de mi cada  día por que el tiene el balance de lo físico y lo espiritual. Por eso lo recomiendo por que es la mejor inversión que estarás haciendo para ti.
                Carolina Paez since March 2018 🤗
            </p>
        </div>

        <div class="casos_particular"  id="colorDeFondo" data-aos="fade-up">
            <p class="parrafoExito"><b>Carlos Medina </b>

                I meet David about 3 Years ago at a time where  I lost hope in trainers and transforming my body. Before I meet David I had 5 trainers that got me no results. I started to believe that my body can’t grow further than what I have. David has changed my perception on trainers he’s absolutely phenomenal hes the first trainer to get me to my dream goal finally he gave me a meal plan and a workout regiment that really worked for my body type. I will definitely continue to workout with David for many more years to come
                
                
            </p>
            <img class="imagen_exito" src="../static/img/processed-42A24CA2-18AB-4170-BEB5-985DE6C04260.jpeg" alt="imagen de antes y despues de cliente">
            
        </div>

        <div class="casos_particular" data-aos="fade-up">
            <img class="imagen_exito" src="../static/img/processed-FAFBC7DD-3AC9-4CCB-99C6-31DC116DE456.jpeg" alt="imagen de antes y despues de cliente">
            <p class="parrafoExito"><b>Simon</b> 


                Hace 6 meses decidí cambiar mi cuerpo y con el pasar de los días  cambio mucho, y sin darme cuenta mi forma de pensar también cambio y esto gracias a @davidtorres.fit el cual a sido una guía motivaciónal al mil por ciento lo recomiendo a ojos cerrados y pasó de ser mi coach a se mi amigo.. Yo quiero Yo puedo.

            </p>
        </div>

        <div class="casos_particular"  id="colorDeFondo" data-aos="fade-up">
            <p class="parrafoExito"><b> </b>

                I don’t even know where to begin because no words can truly capture the impact David has had on my life. What started as a fitness journey turned into a complete transformation—physically, mentally, and emotionally. He didn’t just help me become stronger; he helped me become the best version of myself.

                What sets him apart is his ability to tailor every training program specifically to your needs, capabilities, and goals. It’s not a one-size-fits-all approach—it’s designed just for you, ensuring progress, growth, and sustainability. Whether you’re a beginner or an experienced athlete, he meets you where you are and pushes you to where you want to be.
                
                Beyond training, he has been my light, my guide, and one of my greatest supporters. He stood by me on my wedding day, cheers me on in every aspect of my life and career, and constantly pushes me to aim higher. His personal advice, unwavering encouragement, and infectious energy make every session feel like more than just a workout—it’s therapy, laughter, and motivation all in one.
                
                More than a trainer, he’s become my best friend—someone who truly cares, believes in me, and fills my soul with joy every time I see him. If you’re looking for someone who will change your life, not just your fitness, look no further. I’m forever grateful!                
                
            </p>
            <img class="imagen_exito" src="../static/img/photo_4965425001465491058_y.jpg" alt="imagen de antes y despues de cliente">
            
        </div>



    </div>
</section>
    <!-- casos de exito -->
   

    <footer class="footer">
        <h1 class="Titulo_footer" class="bebas-neue-regular">Mente, cuerpo y espiritu</h1>
        <a class="redes_sociales_footer"  href="https://fans.link/Davidtorresfit?utm_source=preview&utm_medium=linkdetail&fbclid=PAZXh0bgNhZW0CMTEAAabUWQ8sth6lg65KzSws-56818bqPSSeG9xQjc-IRqlqd0NbE26QP8SPVa8_aem_15sB0mFYhGr1Biv_LaoAaQ"><button class="btn" id="btn_eleccion" >Visita mis redes sociales</button></a>
        <img class="imagen_footer"  src="../static/img/batido.jpg" alt="Couch de brazos cruzados">
        <div>
            <p>  
                Debe consultar a su médico u otro profesional de
                 la salud antes de comenzar este o cualquier otro
                 programa de ejercicios para determinar si es
                 adecuado para sus necesidades. Esto es
                 particularmente cierto si usted (o su familia) tiene
                 antecedentes de presión arterial alta o
                 enfermedad cardíaca, o si alguna vez ha
                 experimentado dolor en el pecho al hacer
                 ejercicio o ha experimentado dolor en el pecho
                 durante el último mes cuando no estaba haciendo
                 actividad física, fuma, tiene colesterol alto, es
                 obeso o tiene un problema en los huesos o
                 articulaciones que podría empeorar con un
                 cambio en la actividad física. No comience este
                 programa de ejercicios si su médico o proveedor
                 de atención médica se lo desaconseja. Si
                 experimenta desmayos, mareos, dolor o falta de
                 aire en cualquier momento mientras hace
                 ejercicio, debe detenerse de inmediato. 
                Este sitio ofrece información sobre salud, estado
                 físico y nutrición y está diseñado únicamente con
                 fines educativos. No debe confiar en esta
                 información como sustituto ni reemplaza el consejo
                 médico profesional, el diagnóstico o el tratamiento.
                 Si tiene alguna inquietud o pregunta sobre su salud,
                 siempre debe consultar con un médico u otro
                 profesional de la salud. No ignore, evite ni demore la
                 obtención de asesoramiento médico o relacionado
                 con la salud de su profesional de la salud debido a
                 algo que haya leído en este sitio. El uso de cualquier
                 información proporcionada en este sitio se realiza
                 únicamente bajo su propio riesgo. 
                Los avances en la investigación médica pueden
                 afectar los consejos sobre salud, estado físico y
                 nutrición que aparecen aquí. No se puede garantizar
                 que los consejos contenidos en este sitio siempre
                 incluyan los hallazgos o avances más recientes con
                 respecto al material en particular.</p>
        </div>
    </footer>
    


    <!-- video explicativo -->
    <!-- Preguntas frecuentes -->
    <!-- cada curso se divide en 3 patres -->
    <!-- casos exito -->

    <!-- crear un html por cada seccion -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
    <script src="app.js"></script>
</body>
</html>